@font-face {
    font-family: customeizeFont;
    src: url("./fonts/sarasa-mono-j-regular.ttf");
}
  
html {
    font-family: "customeizeFont" !important;
}

body {
    font-family: "customeizeFont" !important;
}