<div ng-if="!preview && !searching">
  <button class="btn btn-outline-primary" ng-click="refresh()" title="刷新">
    <i class="bi bi-arrow-clockwise"></i>
  </button>

  <span class="fs-4 align-middle ms-1">收件箱</span>

  <span style="float:right; right: 1rem;">
    <span ng-if="(totalMessages || 0) != 0">
      <select class="form-select align-middle" style="display:inline; width: 6rem;" ng-model="itemsPerPage" ng-change="showUpdated(itemsPerPage)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
      </select>
      <strong>第 {{ startMessages + 1 }}-{{ startMessages + countMessages }} 封，</strong>
      共
      <strong>{{ totalMessages }}</strong>
      封邮件
    </span>

    <button class="btn btn-outline-primary" ng-click="showNewer()" title="较新的邮件" ng-class="{'disabled':startMessages<=0}">
      <i class="bi bi-caret-left-fill"></i>
    </button>

    <button class="btn btn-outline-primary" ng-click="showOlder()" title="较老的邮件" ng-class="{'disabled':startMessages+countMessages>=totalMessages}">
      <i class="bi bi-caret-right-fill"></i>
    </button>
  </span>
</div>

<div>
  <div ng-if="!preview && !searching">
    <div class="mt-2">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width:30%;">收发对象</th>
            <th scope="col" style="width:50%;">主题</th>
            <th scope="col" style="width:10%;">时间</th>
            <th scope="col" style="width:10%;">大小</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="message in messages" ng-click="selectMessage(message)">
            <td>
              <span class="badge rounded-pill bg-warning">发件人</span>&nbsp;
              <span>{{ getSender(message) }}</span><br/>
              <span ng-repeat="to in message.To"><span class="badge rounded-pill bg-success">收件人</span>&nbsp;&nbsp;{{ to.Mailbox }}@{{ to.Domain }}<br/></span>
            </td>
            <td>{{ tryDecodeMime(message.Content.Headers["Subject"][0]) }}</td>
            <td>{{ getMoment(date(message.Created)).fromNow() }}</td>
            <td class="text-uppercase">{{ fileSize(message.Raw.Data.length) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div ng-if="searching">
    <span style="position:fixed; right: 1rem;">
        第 <strong>{{ countSearchMessages > 0 ? startSearchMessages + 1 : 0 }}-{{ (startSearchMessages + countSearchMessages) || 0 }}</strong> 封，
        共
        <strong>{{ totalSearchMessages || 0 }}</strong>
        封邮件
  
      <button class="btn btn-outline-primary" ng-click="showNewer()" title="较新的邮件" ng-class="{'disabled':startSearchMessages<=0}">
        <i class="bi bi-caret-left-fill"></i>
      </button>
  
      <button class="btn btn-outline-primary" ng-click="showOlder()" title="较老的邮件" ng-class="{'disabled':startSearchMessages+countSearchMessages>=totalSearchMessages}">
        <i class="bi bi-caret-right-fill"></i>
      </button>
    </span>
  
    <button class="btn btn-outline-primary" ng-click="backToInbox()" title="返回收件箱">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button class="btn btn-outline-primary" ng-click="refresh()" title="刷新">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  
    <span>关键词：<strong>{{ searchedText }}</strong> 的搜索结果 </span>
  </div>
  
    <div ng-if="searching">
      <div class="mt-2">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col" style="width:30%;">收发对象</th>
              <th scope="col" style="width:50%;">主题</th>
              <th scope="col" style="width:10%;">时间</th>
              <th scope="col" style="width:10%;">大小</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="message in searchMessages" ng-click="selectMessage(message)">
              <td>
                <span class="badge rounded-pill bg-warning">发件人</span>&nbsp;
                <span>{{ getSender(message) }}</span><br/>
                <span ng-repeat="to in message.To"><span class="badge rounded-pill bg-success">收件人</span>&nbsp;&nbsp;{{ to.Mailbox }}@{{ to.Domain }}<br/></span>
              </td>
              <td>{{ tryDecodeMime(message.Content.Headers["Subject"][0]) }}</td>
              <td>{{ getMoment(date(message.Created)).fromNow() }}</td>
              <td class="text-uppercase">{{ fileSize(message.Raw.Data.length) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div ng-if="preview">
    <button class="btn btn-outline-primary" ng-click="backToInbox()" title="返回收件箱">
      <i class="bi bi-arrow-left"></i>
    </button>
  
    <button class="btn btn-outline-primary" ng-click="deleteOne(preview); preview = null">
      <i class="bi bi-trash"></i>
    </button>
  
    <a class="btn btn-outline-primary" title="下载 EML 源文件" href="{{ host }}api/v1/messages/{{ preview.ID }}/download">
      <i class="bi bi-download"></i>
    </a>
  </div>
  
  <div ng-if="preview" class="mt-2">
    <div>
      <table>
        <tbody ng-if="!previewAllHeaders">
          <tr>
            <th style="width:6%;">主题：</th>
            <td><strong>{{ tryDecodeMime(preview.Content.Headers["Subject"][0]) }}</strong></td>
          </tr>
          <tr>
            <th>发件人：</th>
            <td>{{ tryDecodeMime(preview.Content.Headers["From"][0] || preview.From.Mailbox + "@" + preview.From.Domain) }}</td>
          </tr>
          <tr>
            <th>时间：</th>
            <td>{{ getCSTtime(tryDecodeMime(preview.Content.Headers["Date"][0])) }}</td>
          </tr>
          <tr>
            <th>收件人：</th>
            <td>
              {{ tryDecodeMime((preview.Content.Headers["To"] || []).join(', ') || preview.To[0].Mailbox + "@" + preview.To[0].Domain) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="mt-2">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link" ng-if="hasHTML(preview)" ng-class="{ active: hasHTML(preview) }" id="nav-html-tab" data-bs-toggle="tab" data-bs-target="#nav-html" type="button" role="tab" >以 HTML 显示</button>
          <button class="nav-link" ng-class="{ active: !hasHTML(preview) }" id="nav-plain-tab" data-bs-toggle="tab" data-bs-target="#nav-plain" type="button" role="tab" >以纯文本显示</button>
          <button class="nav-link" id="nav-source-tab" data-bs-toggle="tab" data-bs-target="#nav-source" type="button" role="tab" >显示邮件源代码</button>
          <button class="nav-link" ng-if="preview.MIME" id="nav-mime-tab" data-bs-toggle="tab" data-bs-target="#nav-mime" type="button" role="tab" >下载 MIME</button>
        </div>
      </nav>
  
      <div class="tab-content mt-2" style="overflow-y: scroll;" id="nav-tabContent">
        <div class="tab-pane fade" ng-if="hasHTML(preview)" ng-class="{ 'show active' : hasHTML(preview) }" id="nav-html" role="tabpanel" aria-labelledby="nav-home-tab">
          <iframe target-blank="" srcdoc="{{preview.previewHTML}}" seamless frameborder="0" style="width: 100%"></iframe>
        </div>
        <div class="tab-pane fade font-monospace" id="nav-plain" style="white-space: pre;" ng-class="{ 'show active' : !hasHTML(preview) }" role="tabpanel">
          <div style="margin: -2rem 0rem;" ng-bind-html="formatMessagePlain(preview)"></div>
        </div>
        <div class="tab-pane fade font-monospace" id="nav-source" style="white-space: pre-wrap;" role="tabpanel">
          <div style="margin: -2rem 0rem;">{{ getSource(preview) }}</div>
        </div>
        <div class="tab-pane fade"  id="nav-mime" role="tabpanel">
          <div ng-repeat="part in preview.MIME.Parts" class="mime-part">
            <a href="{{ host }}api/v1/messages/{{ preview.ID }}/mime/part/{{ $index }}/download" type="button" class="btn btn-outline-primary">
              <i class="bi bi-download"></i>
              下载
            </a>
            {{ tryDecodeMime(part.Headers["Content-Type"][0] || "Unknown type") }} ({{ part.Size }} bytes)
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="confirm-delete-all" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">清空所有邮件</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>确认清空所有邮件？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" ng-click="deleteAllConfirm()">确认</button>
      </div>
    </div>
  </div>
</div>
