<!DOCTYPE html>
<html ng-app="mailtrapApp">
  <head>
    <title>MailTrap</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">

    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/bootstrap-5.0.2-beta2.css">
    <link rel="stylesheet" href="css/bootstrap-icons-1.4.0.css">
    <link rel="stylesheet" href="css/customize.css">

  </head>
  <body ng-controller="MailCtrl" ng-click="keepopen=false">
    <header class="mailtrap-top">
      <a class="mailtrap-brand" href="#" ng-click="backToInboxFirst()">
        <img src="images/logo.png" alt="MailTrap">
        <span>MailTrap<small>测试收件</small></span>
      </a>
      <form class="mailtrap-search" role="search" onsubmit="return false">
        <div class="mailtrap-search-field" ng-click="$event.stopPropagation()">
          <input ng-model="searchText" type="text" placeholder="搜索邮件" id="search-mail-input" ng-key-enter="search('containing', searchText)" autocomplete="off" ng-focus="keepopen=true">
          <div class="mailtrap-search-menu" ng-if="searchText.length > 0 && keepopen">
            <a href="#" ng-click="search('containing', searchText)">搜索 <strong>正文包含</strong> {{ searchText }} 的邮件</a>
            <a href="#" ng-click="search('to', searchText)">搜索 <strong>收件人</strong> 为 {{ searchText }} 的邮件</a>
            <a href="#" ng-click="search('from', searchText)">搜索 <strong>发件人</strong> 为 {{ searchText }} 的邮件</a>
          </div>
        </div>
      </form>
      <button type="button" class="mailtrap-top-btn" ng-class="{on: hasEventSource}" ng-click="toggleStream()">
        {{ hasEventSource ? '实时刷新已开启' : '实时刷新已关闭' }}
      </button>
      <button type="button" class="mailtrap-top-btn" ng-click="deleteAll()">清空所有邮件</button>
      <span class="mailtrap-version">v2.0.0</span>
    </header>

    <div class="mailtrap-shell">
      <div class="mailtrap-stage">
        [: .Content :]
      </div>
    </div>



    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/bootstrap-5.0.2-beta2.js"></script>
    <script src="js/angular-1.3.8.js"></script>
    <script src="js/moment-with-locales-2.29.1.js"></script>
    <script src="js/filesize-3.1.2.min.js"></script>
    <script src="js/strutil.js"></script>
    <script src="js/controllers.js"></script>
    <script>
      function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
      }

      var apiHost = "[: .APIHost :]";
      if(apiHost.length > 0 && !endsWith(apiHost, "/")) {
        apiHost += "/";
      }
      var columns = [15,15,40,20,10];
    </script>
  </body>
</html>
